{% extends 'leanchat/base.html' %}


{% block title %}
    AskingRoom
{% endblock title %}
    
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
              <h2> What chat room would you like to enter?</h2>  
                <input id="room-name-input" type="text" size="100"><br>
                <button id="room-name-submit" class="btn btn-primary my-4" type="submit" >
                    Move Ahead
                    </button>
                
         
                
            </div>
        </div>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };
    
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>

{% endblock content %}
    

